---
import "../css/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import catcafe from "../assets/photo/cat-cafe.jpg";
import catcafe1 from "../assets/photo/cat-cafe1.jpeg";
import catcafe2 from "../assets/photo/cat-cafe2.jpg";
import catcafe4 from "../assets/photo/cat-cafe4.jpg";
import catcafe6 from "../assets/photo/cat-cafe6.jpg";
import menu from "../assets/photo/menu.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>

  <body>
    <header>
      <Header />
    </header>
    <main>
      <div class="grid grid-cols-3 gap-5 p-10 justify-items-center  ">
        <img
          class="w-[400px] h-[300px] rounded-[250px] lg:h-[400px] col-span-3 md:col-span-1 lg:col-span-1"
          src={catcafe.src}
          alt="cat"
        />
        <img
          class="w-[400px] h-[400px] rounded-[250px] col-span-3 md:col-span-1 lg:col-span-1"
          src={catcafe1.src}
          alt="cat"
        />
        <img
          class="w-[400px] h-[400px] rounded-[250px] col-span-3 md:col-span-1 lg:col-span-1"
          src={catcafe2.src}
          alt="cat"
        />
      </div>

      <div class="bg-red-950 mt-8">
        <h2 class=" text-yellow-500 text-center text-5xl p-10">About Café Cats</h2>

        <ul class="text-yellow-50 text-2xl p-10">
          <li class="p-3">
            Café cats," also known as "cat cafés," are establishments where
            customers can enjoy beverages and snacks while spending time with
            cats. Originating in Taiwan in 1998 and popularized in Japan, these
            cafés offer a unique blend of relaxation and companionship for cat
            lovers. Here are some key points about cat cafés
          </li>

          <h2 class="p-3 text-4xl text-yellow-500">Concept and Purpose Ambiance:</h2>

          <li class="p-3">
            Cat cafés provide a cozy, serene environment where people can
            unwind, often featuring comfortable seating, soft lighting, and
            plenty of cat-friendly spaces.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Therapeutic Benefits:</h2>
          <li class="p-3">
            Interacting with cats can reduce stress and anxiety, offering
            therapeutic benefits to patrons.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Adoption Centers:</h2>
          <li class="p-3">
            Many cat cafés partner with local animal shelters to promote cat
            adoption, helping homeless cats find forever homes. Structure and
            Operations.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Hygiene:</h2>
          <li class="p-3">
            Strict hygiene protocols are followed to ensure cleanliness, both
            for the well-being of the cats and the patrons. This includes
            regular cleaning, providing separate areas for food preparation, and
            ensuring that cats are well-groomed.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Rules:</h2>
          <li class="p-3">
            Patrons are usually required to follow certain rules to ensure the
            cats' comfort and safety, such as not disturbing sleeping cats,
            handling them gently, and not feeding them human food.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Fees:</h2>
          <li class="p-3">
            Most cat cafés charge an entry fee, which may be time-based or
            include a cover charge along with a drink or snack. This helps cover
            the cost of caring for the cats. Popularity and Locations.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Global Trend:</h2>
          <li class="p-3">
            After gaining immense popularity in Japan, cat cafés have spread
            worldwide, with establishments found in cities across Europe, North
            America, and Asia.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Diverse Themes:</h2>
          <li class="p-3">
            Some cat cafés have specific themes, such as focusing on particular
            cat breeds, incorporating elements of local culture, or offering
            additional services like yoga sessions or book readings with cats.
            Impact and Community.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Animal Welfare:</h2>
          <li class="p-3">
            Cat cafés often raise awareness about animal welfare and the
            importance of adopting rather than buying pets.
          </li>

          <h2 class="p-3 text-4xl  text-yellow-500">Community Engagement:</h2>
          <li class="p-3">
            They serve as community hubs where people can connect over a shared
            love of cats, participate in events, and support local shelters.
          </li>
        </ul>
      </div>

      <div class="grid grid-cols-3 gap-5 p-10 justify-items-center ">
        <img
          class="w-[400px] h-[400px] rounded-[250px] col-span-3 md:col-span-2 lg:col-span-1"
          src={catcafe4.src}
          alt="cat"
        />
        <img
          class="w-[400px] h-[400px] rounded-[250px] col-span-3 md:col-span-2 lg:col-span-1"
          src={menu.src}
          alt="cat"
        />
        <img
          class="w-[400px] h-[400px] rounded-[250px] col-span-3 md:col-span-2 lg:col-span-1"
          src={catcafe6.src}
          alt="cat"
        />
      </div>
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
   body {
    margin-top: 6rem;
  }
</style>
